input[type=range]{
    /*required for proper track sizing in FF*/
    width: 580px;

    top: 4px;
    position: relative;
}

input[type=range]::-moz-range-track {
    width: 580px;
    height: 10px;
    background: $highlightPurple;

}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 20px;
    width: 10px;
    background: white;
    border: 2px solid $highlightPurple;
    border-radius: 0;
    cursor: pointer;
}

.noUi-target {
    box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
}

.noUi-background {
    background: grey + #222;
    border: none;
    border-radius: 0;
}

.noUi-horizontal {
    height: 10px;

    .noUi-handle {
        height: 25px;
        width: 15px;
        top: -8px;
        border: 2px solid grey + #222;
        border-radius: 0;
        background: white;
    }
}
.activetrack {
    .noUi-background {
        background: $highlightPurple + #111;
    }

    .noUi-horizontal {
        .noUi-handle {
            border: 2px solid $highlightPurple;
            background: white;
        }
    }
}