input[type=range]{
    /*required for proper track sizing in FF*/
    width: 300px;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #3f3f3f;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 13px;
    width: 20px;
    border-radius: 3px;
    background: #666;
    border: 1px solid #333;
    cursor: pointer;
}

input[type=range]{    
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #3f3f3f;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 13px;
    width: 20px;
    border-radius: 3px;
    background: #666;
    border: 1px solid #333;
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}


