body {
    margin: auto;
    font-family: "Source Code Pro";
    font-size: 12px;
}

#container {
    display: block;
    margin: auto;
    width: 700px;
    height: 100%;
}

table {
    border-spacing: 0;
}

th {
    padding: 10px;
    background: #666;
    color: #fff;
}
td.trackname {
    width: 100px;
}
td.percent {
    width: 22px;
    padding-left: 10px;
}
td.onoff {
    padding-left: 15px;
}

.activetrack td.trackname {
    color: green;
}

.volume {
    width: 500px;
}

button, .play, .pause, p#timecode, p#negTimecode, p.chall {
    display: inline-block;
}
form {
    position: relative;
}

button {
    border: 1px solid #333;
    border-radius: 3px;
    background: #666;
    color: #fff;
}

#seekbar {
    position: relative;
    top: 4px;
}

#seekbar-ctrls {
    display: inline-block;
    padding-left: 10px;
}
