input[type=range] {
  /*required for proper track sizing in FF*/
  width: 300px; }

input[type=range]::-moz-range-track {
  width: 300px;
  height: 5px;
  background: white;
  border-radius: 3px; }

input[type=range]::-moz-range-thumb {
  border: none;
  height: 13px;
  width: 20px;
  border-radius: 3px;
  background: white;
  border: 1px solid #aaaaaa;
  cursor: pointer; }

input[type=range] {
  -webkit-appearance: none; }

input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: white;
  border: none;
  border-radius: 3px;
  border: 1px solid #aaaaaa; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 13px;
  width: 20px;
  border-radius: 3px;
  background: white;
  border: 1px solid #aaaaaa;
  margin-top: -4px; }

input[type=range]:focus {
  outline: none; }

/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.noUi-target {
  position: relative; }

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative; }

.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0; }

.noUi-handle {
  position: relative;
  z-index: 1; }

.noUi-stacking .noUi-handle {
  /* This class is applied to the lower origin when
     its values is > 50%. */
  z-index: 10; }

.noUi-stacking + .noUi-origin {
  /* Fix stacking order in IE7, which incorrectly
     creates a new context for the origins. */
  *z-index: -1; }

.noUi-state-tap .noUi-origin {
  -webkit-transition: left 0.3s, top 0.3s;
  transition: left 0.3s, top 0.3s; }

.noUi-state-drag * {
  cursor: inherit !important; }

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 6px;
  border-radius: 3px; }

.noUi-horizontal .noUi-handle {
  width: 20px;
  height: 13px;
  left: -17px;
  top: -4px;
  border-radius: 3px;
  cursor: pointer; }

.noUi-vertical {
  width: 18px; }

.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  left: -6px;
  top: -17px; }

/* Styling;
 */
.noUi-background {
  background: #eeeeee;
  border: 1px solid #888888; }

.noUi-connect {
  background: #3FB8AF;
  box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45);
  -webkit-transition: background 450ms;
  transition: background 450ms; }

.noUi-origin {
  border-radius: 2px; }

.noUi-target {
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB; }

.noUi-target.noUi-connect {
  box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45), 0 3px 6px -5px #bbbbbb; }

/* Handles and cursors;
 */
.noUi-dragable {
  cursor: w-resize; }

.noUi-vertical .noUi-dragable {
  cursor: n-resize; }

.noUi-handle {
  border: 1px solid #888888;
  border-radius: 3px;
  background: #eeeeee;
  cursor: default; }

/* Disabled state;
 */
[disabled].noUi-connect,
[disabled] .noUi-connect {
  background: #B8B8B8; }

[disabled] .noUi-handle {
  cursor: not-allowed; }

body {
  margin: auto;
  font-family: "Source Code Pro";
  font-size: 12px;
  background: #eee; }

#container {
  display: block;
  margin: auto;
  width: 700px;
  height: 100%; }

audio {
  display: none; }

table {
  border-spacing: 0;
  background: #ccc;
  border: 1px solid #888888;
  border-radius: 3px; }

th {
  padding: 10px;
  background: #eeeeee;
  color: #131313; }

.activetrack {
  background: #fff; }

.trackname {
  width: 100px;
  padding-left: 10px; }

.activetrack td.trackname {
  color: #1f7a7a; }

.percent {
  width: 30px;
  padding-left: 10px; }

.activetrack td.percent {
  color: black; }

.onoff {
  padding-left: 15px; }

.volume {
  width: 500px; }

button, .play, .pause, p#timecode, p#negTimecode, p.chall {
  display: inline-block; }

form {
  position: relative; }

.play {
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  background: white;
  color: #131313;
  cursor: pointer;
  font-family: "Source Code Pro";
  font-size: 12px; }

#seekbar {
  position: relative;
  top: 4px; }

#seekbar-ctrls {
  display: inline-block;
  padding-left: 10px; }
