
$fg: #131313;
$bg: #eee;
$highlight: #1f7a7a;
$comment: #888;
$header-height: 60px;

@import "seekbar";
@import "jquery.nouislider";

body {
    margin: auto;
    font-family: "Source Code Pro";
    font-size: 12px;
	background: #eee;
}

#container {
    display: block;
    margin: auto;
    width: 700px;
    height: 100%;
}

audio {
    display: none;
}

table {
    border-spacing: 0;
    background: #ccc;
    border: 1px solid $comment;
    border-radius: 3px;
}

th {
    padding: 10px;
    background: $bg; 
    color: $fg;
}

.activetrack {
    background: #fff;
}

.trackname {
    width: 100px;
    padding-left: 10px;
}
.activetrack td.trackname {
    color: #1f7a7a;
}
.percent {
    width: 30px;
    padding-left: 10px;
}

.activetrack td.percent {
    color: black;
}

.onoff {
    padding-left: 15px;
}

.volume {
    width: 500px;
}

button, .play, .pause, p#timecode, p#negTimecode, p.chall {
    display: inline-block;
}
form {
    position: relative;
}

.play {
    border: 1px solid $comment + #222;
    border-radius: 3px;
    background: white;
    color: $fg;
    cursor: pointer;
    font-family: "Source Code Pro";
	font-size: 12px;
}

#seekbar {
    position: relative;
    top: 4px;
}

#seekbar-ctrls {
    display: inline-block;
    padding-left: 10px;
}
