$fg: #131313;
$bg: #eee;
$highlightBlue: #027185;
$highlightPurple: #683996;
$highlightGreen: #1AA80A;
$comment: #839496;


@import "seekbar";
@import "jquery.nouislider";

body {
    margin: auto;
    font-family: "Source Code Pro";
    font-size: 16px;
	background: #eee;
}

#container {
    display: block;
    margin: auto;
    width: 900px;
    height: 100%;
}

audio {
    display: none;
}

table {
    border: 1px dashed $comment;
    border-spacing: 0;
    width: 100%;
}

th {
    padding: 10px;
    background: $bg; 
    color: $fg;
    text-transform: uppercase;
}

.activetrack {
    background: #fff;
}

.trackname {
    width: 60px;
    padding-left: 30px;
    text-transform: capitalize;
}

.percent {
    width: 30px;
    padding-left: 30px;
    padding-right: 15px;
}

.activetrack td.percent {
    color: black;
}

.onoff {
    width: 50px;
    text-align: center;
}

.volume {
    width: 500px;
}

button, .play, .pause, p#timecode, p#negTimecode, p.chall {
    display: inline-block;
}
form {
    position: relative;
}

.play {
        text-align: center;

        border: none;
        background: $highlightPurple;
        cursor: pointer;

        padding: 3px 20px 10px 20px;
        margin: 20px auto;

        font-family: "Source Code Pro";
        font-variant: small-caps;
        font-weight: bold;
        font-size: 30px;
        color: white;
}

#seekbar-ctrls {
    display: inline-block;
    padding-left: 10px;
}
